<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation=" http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
 
	<bean name="bookDaoImpl" class="pl.jg.model.BookDaoImpl">
			<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/bookshelf" />
		<property name="username" value="test" />
		<property name="password" value="test" />
	</bean>
	
</beans>


		<!-- UWAGA: wczesniej bylo takie... ale i tak dziala: <property name="url" value="jdbc:mysql://localhost:3306/bookshelf?useSSL=false&&allowPublicKeyRetrieval=true" /> 
		...ale blad to wywalalo, czyzby && to jakis special character w xmlu-->
        
